@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Layout";
}
<h1>Hello World</h1>

<p>This is my test app</p>
<p>Here are some applications I made with ASP.NET</p>
<br>
<h2><a asp-controller="TimeKeeper" asp-action="Index">Time Keeper</a></h2>
<p>An application that helps you keep track of your working time for each week.</p>
<p>It helps calculate how many hours you have worked and how much overtime you have done.</p>

